.dba1 {
    width: 60%;
    margin: 50px auto;
}

    .dba1 h1 {
        text-align: left;
        font-size: 2.375em;
        font-weight: 400;
        font-family: GillSansMT,"Gill Sans MT",GillSans,Calibri,"Trebuchet MS","Nimbus Sans L",sans-serif;
    }

    .dba1 p {
        word-spacing: 10px;
        line-height: 1.5em;
        display: block;
    }



.dba2 {
    margin: 0px auto;
    background-color: #008b8e;
    width: 60%;
    text-align: center;
    padding: 10px;
    line-height: 50px;
    color: white;
}

    .dba2 a {
        text-decoration: none;
        color: white;
    }

ul li {
    line-height: 30px;
}
